a{
    color: black;
}

.page-pic{
    width: 1500;
    height:350;
    position: absolute;
    left: 0px;
    right: 0px;
}
.page-pic2{
    width: 1500;
    height:1000;
    position: absolute;
    left: 0px;
    right: 0px;
}

.Top-text{
    padding: 3% 10%;
    z-index: 1;
    position: relative;
}

h1{
    color: black;
    font-family: Fredoka One  ;
    position: relative;
    z-index: 1;
} 
 h3{
    color: black;
    font-family: kalam;
}

h4{
    color: black;
    font-family: kalam;
}
.topImage{
    width: 200;
    height: 200 ;
    margin: -17.5% auto auto 78%;
    position: relative;
    z-index: 1;
}

.catSlider{

    position: relative;
    z-index: 1;
    margin: 3% 25% auto 35%;

}

.hideData{
    display: none;
    margin: 3% 0%;
}

.sliderTitle{
    position: relative;
    z-index: 1;
    color: "red";
    margin: 5% 15% 0% 35%;
    text-align-last: center;


}
